<ion-header>
  <ion-toolbar>
    <ion-title>Luksus Casino - Juego de Minas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div id="balance">Saldo: ${{ balance | currency: 'COP' }}</div>

    <!-- Tablero de juego -->
    <div id="game-board">
      <div
        *ngFor="let cell of cells; let i = index"
        [ngClass]="{
          cell: true,
          mine: mines.includes(i) && !gameActive,
          safe: revealedCells.has(i)
        }"
        (click)="revealCell(i)"
      ></div>
    </div>

    <!-- Controles para apuesta y trampas -->
    <div id="controls">
      <div id="max-win-container">
        <div id="max-win">Máx. ganancias: ${{ maxWin | currency: 'COP' }}</div>
        <div id="mine-count-container">
          <ion-label>Trampas</ion-label>
          <ion-button (click)="changeMineCount(-2)">-</ion-button>
          <ion-input [(ngModel)]="mineCount" type="number" readonly></ion-input>
          <ion-button (click)="changeMineCount(2)">+</ion-button>
        </div>
      </div>

      <div id="bet-action-container">
        <div id="bet-container">
          <ion-button (click)="changeBet(-1000)">-</ion-button>
          <ion-input [(ngModel)]="betAmount" type="number"></ion-input>
          <ion-button (click)="changeBet(1000)">+</ion-button>
        </div>
        <ion-button id="startGame" *ngIf="!reward && !waiting" (click)="startGame()">Tocar</ion-button>
        <ion-button id="reward" *ngIf="waiting && !reward">Esperando...</ion-button>
      </div>
      <ion-button id="reward" *ngIf="reward" (click)="withdraw()">Retirarse: {{ reward | currency: 'COP' }}</ion-button>
    </div>
  </div>
</ion-content>
